@media (min-width: 768px) and (max-width: 979px) {

    .burger_menu {
        display: flex;
    }

    .mob_menu {
        display: flex;
    }

    .mob_menu .menu ul li{
        list-style: none;
    }

    .mob_menu .menu a{
        display: block;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .main {
        display: none;
    }

    .price{
        height: auto;
    }

    .price .mob_logo {
        display: flex;
    }

    .price .mob_logo img{
        width: 30%;
        padding-bottom: 50px;
    }


    .price .price_center{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .price .price_center .price_boxes, .price .price_center .add_price {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .price .price_center .add_price h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .price .price_center .add_price .add_p_box{
        margin-bottom: 40px;
    }

    .footer {
        height: auto;
        padding-bottom: 60px;
    }

    .footer .footer_center {
        width: 100%;
        flex-direction: column;
    }

    .footer .footer_center .footer_logo_icon {
        width: 100%;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer .footer_center .footer_logo_icon .social_n{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .footer .footer_center .f_cont{
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon{
        width: 40%;
        height: auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 35px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon{
        font-size: 20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(2){
        padding-top: 65px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(3){
        padding-top: 45px;
    }

    .footer .footer_center .f_cont .footer_contact{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    .footer .footer_center .f_cont .footer_contact .f_number{
        width: 100%;
        padding-top: 25px;
        font-size: 18px;
        text-align: left;
        padding-left: 10px;

    }

    .footer .footer_center .f_cont .footer_contact .f_time{
        width: 100%;
        padding-top: 20px;
        font-size: 18px;
        text-align: left;
    }

    .footer .footer_center .f_cont .footer_contact .f_location{
        width: 100%;
        padding-top: 45px;
        display: flex;
        text-align: left;
        font-size: 18px;
        padding-right:40px;
    }

    .footer .footer_center .footer_logo_icon .footer_logo, .footer .footer_center .footer_menu {
        display: none;
    }

    .footer_bottom{
        height: auto;
        padding-bottom: 10px;
    }

    .footer_bottom .text{
        width: 100%;
    }

}

@media (max-width: 767px) {

    .burger_menu {
        display: flex;
    }

    .mob_menu {
        display: flex;
    }

    .mob_menu .menu ul li{
        list-style: none;
    }

    .mob_menu .menu a{
        display: block;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .main {
        display: none;
    }

    .price{
        height: auto;
    }

    .price .mob_logo {
        display: flex;
    }

    .price .mob_logo img{
        width: 40%;
        padding-bottom: 50px;
    }

    .price .price_center{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .price .price_center .price_boxes, .price .price_center .add_price {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .price .price_center .add_price h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .price .price_center .add_price .add_p_box{
        margin-bottom: 40px;
    }

    .footer {
        height: auto;
        padding-bottom: 60px;
    }

    .footer .footer_center {
        width: 100%;
        flex-direction: column;
    }

    .footer .footer_center .footer_logo_icon {
        width: 100%;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer .footer_center .footer_logo_icon .social_n{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .footer .footer_center .f_cont{
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon{
        width: 40%;
        height: auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 35px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon{
        font-size: 20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(2){
        padding-top: 65px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(3){
        padding-top: 45px;
    }

    .footer .footer_center .f_cont .footer_contact{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    .footer .footer_center .f_cont .footer_contact .f_number{
        width: 100%;
        padding-top: 25px;
        font-size: 18px;
        text-align: left;
        padding-left: 10px;

    }

    .footer .footer_center .f_cont .footer_contact .f_time{
        width: 100%;
        padding-top: 20px;
        font-size: 18px;
        text-align: left;
    }

    .footer .footer_center .f_cont .footer_contact .f_location{
        width: 100%;
        padding-top: 45px;
        display: flex;
        text-align: left;
        font-size: 18px;
        padding-right:40px;
    }

    .footer .footer_center .footer_logo_icon .footer_logo, .footer .footer_center .footer_menu {
        display: none;
    }

    .footer_bottom{
        height: auto;
        padding-bottom: 10px;
    }

    .footer_bottom .text{
        width: 100%;
    }

}

@media (max-width: 480px) {

    .burger_menu {
        display: flex;
    }

    .mob_menu {
        display: flex;
    }

    .mob_menu .menu ul li{
        list-style: none;
    }

    .mob_menu .menu a{
        display: block;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .main {
        display: none;
    }

    .price{
        height: auto;
    }

    .price .mob_logo {
        display: flex;
    }

    .price .price_center{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .price .price_center .price_boxes, .price .price_center .add_price {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .price .price_center .add_price h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .price .price_center .add_price .add_p_box{
        margin-bottom: 40px;
    }

    .footer {
        height: auto;
        padding-bottom: 60px;
    }

    .footer .footer_center {
        width: 100%;
        flex-direction: column;
    }

    .footer .footer_center .footer_logo_icon {
        width: 100%;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer .footer_center .footer_logo_icon .social_n{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .footer .footer_center .f_cont{
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon{
        width: 40%;
        height: auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 35px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon{
        font-size: 20px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(2){
        padding-top: 65px;
    }

    .footer .footer_center .f_cont .footer_contact_icon .icon:nth-child(3){
        padding-top: 45px;
    }

    .footer .footer_center .f_cont .footer_contact{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    .footer .footer_center .f_cont .footer_contact .f_number{
        width: 100%;
        padding-top: 25px;
        font-size: 18px;
        text-align: left;
        padding-left: 10px;

    }

    .footer .footer_center .f_cont .footer_contact .f_time{
        width: 100%;
        padding-top: 20px;
        font-size: 18px;
        text-align: left;
    }

    .footer .footer_center .f_cont .footer_contact .f_location{
        width: 100%;
        padding-top: 45px;
        display: flex;
        text-align: left;
        font-size: 18px;
        padding-right:40px;
    }

    .footer .footer_center .footer_logo_icon .footer_logo, .footer .footer_center .footer_menu {
        display: none;
    }

    .footer_bottom{
        height: auto;
        padding-bottom: 10px;
    }

    .footer_bottom .text{
        width: 100%;
    }
}